
<div class="card">
    <div class="card-header">
      <h6 class="card-title">Profil</h6>
    </div>
    <div class="card-body">
      Données personelles:
    </div>
    <ul>
        <li>Nom:</li>
        <li>Prénom:</li>
        <li>Date de naissance:</li>
    </ul>
    <div class="card-body">
        Données professionelles:
    </div>
    <ul>
        <li>Poste:</li>
        <li>Salaire:</li>
        <li>Type de contrat:</li>
    </ul>
  </div>
  <!-- /.card -->
 
  <router-outlet></router-outlet>
