
<body>
    <div class="container">
        <header>Inscription</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Données personelles</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Nom et Prénom</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Date de naissance</label>
                            <input type="date" placeholder="Enter birth date" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Numéro téléphone</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>

                        <div class="input-field">
                            <label>Sexe</label>
                            <select required>
                                <option disabled selected>Select gender</option>
                                <option>Homme</option>
                                <option>Femme</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Poste</label>
                            <input type="text" placeholder="Enter your ccupation" required>
                        </div>
                    </div>
                </div>

              <button>S'incrire</button>  
            </div>
        </form>
    </div>

    
</body>


